<div class="tasks-container">
  <div class="tasks-header">
    <h2>System Tasks</h2>
    <button class="add-btn">+ Create Script</button>
  </div>

  <div class="task-list">
    <!-- @for (task of tasks; track task.id) {
      <a [routerLink]="['/tasks', task.id]" class="task-card">
        <div class="task-info">
          <h3>{{ task.title }}</h3>
          <div class="task-meta">
            <span class="project-tag">{{ task.project }}</span>
            <span class="task-date">{{ task.date }}</span>
          </div>
        </div>
        <span class="status-badge" [class]="task.status">
          {{ task.status.replace('-', ' ') }}
        </span>
      </a>
    } -->
    <div *ngIf="saltTasks() && saltTasks().length > 0">
    <div *ngFor="let task of saltTasks()">
      <a class="task-card" (click)="openTaskDetails(task)">
        <div class="task-info">
          <h3>{{ task.title }}</h3>
          <div class="task-meta">
            <span class="project-tag">{{ task.project.name }}</span>
            <span class="task-date">{{ task.description }}</span>
          </div>
        </div>
        <span class="status-badge" [class]="getStatusInText(task.status)">
          {{ getStatusInText(task.status) }}
        </span>
      </a>
    </div>

    </div>
    <div *ngIf="saltTasks() && saltTasks().length === 0">
      <p>No tasks found.</p>
    </div>
  </div>
</div>
